.overlay {
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
}

.img {
  width: 600px;
  height: 600px;
  object-fit: cover;
}
